.null-team {
    color: #ffffff;
}

.null-team-border {
    border-color: #ffffff;
}

.rbr {
    color: #3671C6;
}

.rbr-border {
    border-color: #3671C6;
}

.fer {
    color: #F91536;
}

.fer-border {
    border-color: #F91536;
}

.mer {
    color: #6CD3BF;
}

.mer-border {
    border-color: #6CD3BF;
}

.alp {
    color: #2293D1;
}

.alp-border {
    border-color: #2293D1;
}

.mcl {
    color: #F58020;
}

.mcl-border {
    border-color: #F58020;
}

.ar {
    color: #C92D4B;
}

.ar-border {
    border-color: #C92D4B;
}

.haa {
    color: #B6BABD;
}

.haa-border {
    border-color: #B6BABD;
}

.at {
    color: #5E8FAA;
}

.at-border {
    border-color: #5E8FAA;
}

.am {
    color: #358C75;
}

.am-border {
    border-color: #358C75;
}

.wil {
    color: #37BEDD;
}

.wil-border {
    border-color: #37BEDD;
}
