@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" />
<MudDialogProvider MaxWidth="MaxWidth.Large" FullWidth="true" DisableBackdropClick="true" />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
