<div class="d-flex flex-column justify-center align-content-center align-center">
    @if (UseDivContainer)
    {
        <div style="width:750px;height:395px;">
            @if (AppState.Current?.OpenGraphSection == true)
            {
                <MudText Class="mb-3" Typo="Typo.h4" Align="MudBlazor.Align.Center">@Title</MudText>
                @ChildContent
            }
        </div>
    }
    else
    {
        @if (AppState.Current?.OpenGraphSection == true)
        {
            <MudText Class="mb-3" Typo="Typo.h4" Align="MudBlazor.Align.Center">@Title</MudText>
            @ChildContent
        }
    }
</div>