<div id="section-bar">
    <MudAppBar Elevation="0" Color="MudBlazor.Color.Primary">
        <MudText Typo="Typo.h2" Class="ml-10 pt-9">@Title</MudText>
        <MudSpacer />
        <MudImage Src="images/logo.png" Alt="Logo" Height="225" Class="pt-9 rounded-lg" />
        <MudSpacer />
        <MudText Typo="Typo.h4" Class="mr-10 pt-9 f1-text">2022 Season</MudText>
    </MudAppBar>
</div>
