<div id="side-bar">
    <MudDrawer Elevation="0" Open="true" ClipMode="DrawerClipMode.Always" Color="Color.Primary" Width="200px" Variant="DrawerVariant.Mini">
        <MudNavMenu>

        </MudNavMenu>
    </MudDrawer>
</div>
