<div id="side-bar">
    <MudDrawer Elevation="0" Open="true" ClipMode="DrawerClipMode.Always" Color="Color.Primary" Width="200px" Variant="DrawerVariant.Mini" Anchor="Anchor.Start">
        <MudNavMenu>

        </MudNavMenu>
    </MudDrawer>

    <MudDrawer Elevation="0" Open="true" ClipMode="DrawerClipMode.Always" Color="Color.Primary" Width="200px" Variant="DrawerVariant.Mini" Anchor="Anchor.End">
        <MudNavMenu>

        </MudNavMenu>
    </MudDrawer>
</div>
