<div id="side-bar">
    <MudDrawer Elevation="0" Open="true" ClipMode="DrawerClipMode.Always" Color="MudBlazor.Color.Primary" Width="100px" Variant="DrawerVariant.Mini" Anchor="Anchor.Start" Style="z-index:-1;">
        <MudNavMenu>

        </MudNavMenu>
    </MudDrawer>

    <MudDrawer Elevation="0" Open="true" ClipMode="DrawerClipMode.Always" Color="MudBlazor.Color.Primary" Width="100px" Variant="DrawerVariant.Mini" Anchor="Anchor.End" Style="z-index:-1;">
        <MudNavMenu>

        </MudNavMenu>
    </MudDrawer>
</div>
