@page "/"

<PageTitle>F1 Predictions 2022</PageTitle>

<MudLayout>
    <SectionBar />
    <SideBar />

    <MudContainer id="core-container" MaxWidth="MaxWidth.ExtraExtraLarge">
        <TitleBar />
        
        <div class="pa-0 ma-2 pt-16 pb-16" style="background-color:aqua">

        </div>
    </MudContainer>
</MudLayout>
