@page "/"

<PageTitle>F1 Predictions 2022</PageTitle>

<MudLayout>
    <SectionBar />
    <SideBar />

    <MudContainer id="core-container" MaxWidth="MaxWidth.ExtraExtraLarge">
        <TitleBar />
        
        <MudPaper id="question-container" Class="pa-4 d-flex flex-column justify-space-between" Elevation="0">
            <MudChip id="question-chip">Welcome, everyone! Another season has gone, and with that comes another conclusion to our predictions! I hope you're ready to laugh at your younger self for making such foolish predictions. Good luck!</MudChip>
            <div class="competitor ml-n11 z-10">
                <MudAvatar id="nameplate" Class="haas" Color="Color.Error" Variant="Variant.Outlined" Size="Size.Large">KH</MudAvatar>
            </div>
            <div class="competitor">
                Thing 2
            </div>
            <div class="competitor">
                Thing 3
            </div>
            <div class="competitor">
                Thing 4
            </div>
            <div class="competitor">
                Thing 5
            </div>
            <div class="competitor">
                Thing 6
            </div>
            <div class="competitor">
                Thing 7
            </div>
            <div class="competitor">
                Thing 8
            </div>
            <div class="competitor">
                Thing 9
            </div>
            <div class="competitor">
                Thing 10
            </div>
        </MudPaper>
    </MudContainer>
</MudLayout>
