@page "/"

<PageTitle>F1 Predictions 2022</PageTitle>

<MudLayout>
    <SectionBar />
    <SideBar />

    <MudContainer id="core-container" MaxWidth="MaxWidth.ExtraExtraLarge">
        <TitleBar />
        
        <MudPaper id="question-container" Class="pa-4 d-flex flex-column justify-space-between" Elevation="0">
            <MudChip id="question-chip">Welcome, everyone! Another season has gone, and with that comes another conclusion to our predictions! I hope you're ready to laugh at your younger self for making such foolish predictions. Good luck!</MudChip>
            <div class="competitor ml-n11 z-10">
                <MudAvatar id="nameplate" Class="rbr" Variant="Variant.Outlined" Size="Size.Large">KH</MudAvatar>
            </div>
            <div class="competitor ml-n11 z-10">
                <MudAvatar id="nameplate" Class="fer" Variant="Variant.Outlined" Size="Size.Large">SH</MudAvatar>
            </div>
            <div class="competitor ml-n11 z-10">
                <MudAvatar id="nameplate" Class="mer" Variant="Variant.Outlined" Size="Size.Large">HI</MudAvatar>
            </div>
            <div class="competitor ml-n11 z-10">
                <MudAvatar id="nameplate" Class="alp" Variant="Variant.Outlined" Size="Size.Large">KC</MudAvatar>
            </div>
            <div class="competitor ml-n11 z-10">
                <MudAvatar id="nameplate" Class="mcl" Variant="Variant.Outlined" Size="Size.Large">TW</MudAvatar>
            </div>
            <div class="competitor ml-n11 z-10">
                <MudAvatar id="nameplate" Class="ar" Variant="Variant.Outlined" Size="Size.Large">GH</MudAvatar>
            </div>
            <div class="competitor ml-n11 z-10">
                <MudAvatar id="nameplate" Class="haa" Variant="Variant.Outlined" Size="Size.Large">MG</MudAvatar>
            </div>
            <div class="competitor ml-n11 z-10">
                <MudAvatar id="nameplate" Class="at" Variant="Variant.Outlined" Size="Size.Large">CB</MudAvatar>
            </div>
            <div class="competitor ml-n11 z-10">
                <MudAvatar id="nameplate" Class="am" Variant="Variant.Outlined" Size="Size.Large">MH</MudAvatar>
            </div>
            <div class="competitor ml-n11 z-10">
                <MudAvatar id="nameplate" Class="wil" Variant="Variant.Outlined" Size="Size.Large">KB</MudAvatar>
            </div>
        </MudPaper>
    </MudContainer>
</MudLayout>
