.competitor:first-of-type {
    margin-top: 10px;
}

.competitor:last-of-type {
    margin-bottom: 30px;
}

.competitor ::deep > .nameplate {
    background-color: #050705ff;
    border: 2px solid #ffffff;
    color: #ffffff;
    box-shadow: 0 0 10px, inset 0 0 10px;
    animation: pulse 3s linear 2s infinite;
}

.competitor ::deep > .nameplate.rbr {
    color: #3671C6;
    border-color: #3671C6;
    animation-delay: 0.25s;
}

.competitor ::deep > .nameplate.fer {
    color: #F91536;
    border-color: #F91536;
    animation-delay: 0.5s;
}

.competitor ::deep > .nameplate.mer {
    color: #6CD3BF;
    border-color: #6CD3BF;
    animation-delay: 0.75s;
}

.competitor ::deep > .nameplate.alp {
    color: #2293D1;
    border-color: #2293D1;
    animation-delay: 1.0s;
}

.competitor ::deep > .nameplate.mcl {
    color: #F58020;
    border-color: #F58020;
    animation-delay: 1.25s;
}

.competitor ::deep > .nameplate.ar {
    color: #C92D4B;
    border-color: #C92D4B;
    animation-delay: 1.5s;
}

.competitor ::deep > .nameplate.haa {
    color: #B6BABD;
    border-color: #B6BABD;
    animation-delay: 1.75s;
}

.competitor ::deep > .nameplate.at {
    color: #5E8FAA;
    border-color: #5E8FAA;
    animation-delay: 2.0s;
}

.competitor ::deep > .nameplate.am {
    color: #358C75;
    border-color: #358C75;
    animation-delay: 2.25s;
}

.competitor ::deep > .nameplate.wil {
    color: #37BEDD;
    border-color: #37BEDD;
    animation-delay: 2.5s;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 8px, inset 0 0 8px;
    }

    50% {
        box-shadow: 0 0 16px, inset 0 0 16px;
    }

    100% {
        box-shadow: 0 0 8px, inset 0 0 8px;
    }
}
