@page "/"

<PageTitle>Formula Predictions</PageTitle>

<h1>Home</h1>

<p>Hello.</p>

@if (AppState.AppData.HasFetched)
{
    <p>Answers: @AppState.AppData.Answers.Length</p>
}
else
{
    <p>Loading data...</p>
}
